.head {
    background-color: lightgray; 
    text-align: center; 
    padding: 5px;
}
.charted {
    margin-left: auto !important;
    margin-right: auto !important;
}
.jumbotron {
    padding: 10px;
}
h4 {
    text-align: center
}
